<nav>
  <div class="nav-wrapper blue">
    <div class="container">
      <a [routerLink]="['/']" class="brand-logo">SiteComAngular2</a>
      <ul class="right">
        <li *ngIf="existeUsuario()" [routerLinkActive]="['active']" ><a  [routerLink]="['/home']">Home</a></li>
        <li *ngIf="!existeUsuario()" [routerLinkActive]="['active']" ><a  [routerLink]="['/entrar']">Entrar</a></li>
        <li *ngIf="!existeUsuario()" [routerLinkActive]="['active']" ><a  [routerLink]="['/cadastro']">Cadastro</a></li>
        <li *ngIf="existeUsuario()"><a>{{nomeUsuario}}</a></li>
        <li *ngIf="existeUsuario()"><a (click)="sair()">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>

<main>
	<router-outlet></router-outlet>
</main>
